@model Pizzatorium.Models.tblSuburb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSuburb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dSuburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dSuburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCity.dCityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCity.dCityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dSuburbID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
