@model Pizzatorium.Models.tblIngredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblIngredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dIngredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dIngredient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dIngredientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
